head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  meta(property='og:title', content='OrelJS Meetup')
  meta(property='og:image', content='img/orl500x500.jpg')
  meta(property='og:description', name='description', content='Встреча Frontend-разработчиков Орла. Обсуждается все, что связано с JavaScript ( клиентские фреймворки, серверные платформы, инструменты, опыт, проекты и т.д.) и другими frontend технологиями')
  title ОрелJS Meetup | Встреча фронтенд разработчиков в Орле
  link(rel='icon', href='favicon.ico?1', type='image/icon')
  link(rel='stylesheet', href='styles/basis.css', type='text/css')
  //- link(rel='stylesheet', href='styles/header.css', type='text/css')
  //- link(rel='stylesheet', href='styles/main.css', type='text/css')
  //- link(rel='stylesheet', href='styles/form.css', type='text/css')
  //- link(rel='stylesheet', href='styles/main.speakers.css', type='text/css')
