.form-button {
  background: #f3df49;
  background-image: -webkit-linear-gradient(top, #f3df49, #ceb80d);
  background-image: -moz-linear-gradient(top, #f3df49, #ceb80d);
  background-image: -ms-linear-gradient(top, #f3df49, #ceb80d);
  background-image: -o-linear-gradient(top, #f3df49, #ceb80d);
  background-image: linear-gradient(to bottom, #f3df49, #ceb80d);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 7px;
}

.form-button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.contact-form {
	
	padding: 10px;
	text-align: left;
}

.contact-form .field {
	width: 100%;
	margin-top: 10px;
	font-size: 1.1em;
	padding: 3px;
	box-sizing: border-box;
}

.simple-button {
	background: white;
    padding: 9px 15px;
	font-size: inherit;
	border: darkorange 1px solid;
}
.simple-button:hover {
	background: #f3df49;
}

.contact-form textarea.field {
	height: 100px;
}

.contact-form .form-button {
	float: right;
	font-size: 1em;
}