.main .speakers  h2 {
	text-align: center;
}

.main .speakers .speakers-list  .speaker  {
	padding: 20px 0;
	display: flex;
	max-width: 70%;
	margin: auto;
}

.main .speakers .contact-form  {
	display: none;
}

.main .speaker-info {
	padding-right: 20px;
	padding-bottom: 10px;
	text-align: center;
	flex: 0 0 250px;
}


.main .speaker-info .speaker-name {
	margin-bottom: 5px;
    margin-top: 5px;
}
.main .speaker-info .speaker-from {
	color: darkslategray;
}

.main .speaker-info .speaker-from  a {
	color: darkslategray;
	text-decoration: none;
}


.main .speaker-info .picture {
	border-radius: 50%;
	width: 150px;
}

.main .become-speaker {
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
	text-align: center;
	padding-top: 40px;
}

.main  .become-speaker .field.description {
	height: 70px;
}



@media (max-width: 800px) {	
	.main .speakers .speakers-list  .speaker  {
		max-width: 100%;
		flex-wrap: wrap;
	}
	.main .speakers .speakers-list  .speaker-info  {
		margin-left: auto;
		margin-right: auto;
	}
	.main .become-speaker {
		max-width: 100%;
	}
}