.main .main-section {
	padding: 20px;
}

.main .common {
	display: flex;
	max-width: 1000px;
        margin: 0 auto;
}

.main .common .common-item {
	flex: 1 1 auto;
	margin: 10px;
}

.main .common .common-item h2 {
	border-bottom: 3px solid #f3df49;
}
.main .common .common-item p {
		line-height: 1.5;
}

.main .reasons  {
	text-align: center;
}

.main .reasons .reasons-list {
	display: flex;
}

.main .reasons .reasons-list .reason {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 100px;
	padding: 10px;
	margin: 10px;
}

.main .reasons .reasons-list .reason .reason-text {
	max-width: 100%;
	margin-top: 0;
}

.main .register-form {
	padding-top: 50px;
	padding-bottom: 50px;
	display: none;
	max-width: 70%;
	margin: auto;
}

.main .register-form .tech-table-wrapper {
    border: 1px solid lightblue;
    margin-top: 10px;
	padding: 5px;
}
.main .register-form .tech-table {
	display: table;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}
.main .register-form .tech-table .tech {
	display: table-row;
}
.main .register-form .tech-table .tech:hover {
	background: lightgoldenrodyellow;
}
.main .register-form .tech-table .tech .tech-name {
	display: table-cell;
	max-width: 200px;
}
.main .register-form .tech-table  .tech  label {
	display: table-cell;
	text-align: center;
	cursor: pointer;
}
.main .register-form .tech-table  .tech  label:hover {
	background: lightblue;
}
.main .register-form .tech-table  .tech-header {
	display: table-header-group;
}
.main .register-form .tech-table .tech-header  label {
	display: table-cell;
	padding: 5px 7px;
}

.main .place {
	padding-top: 55px;
}

.main .place-wrapper {
	display: flex;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.main .place-wrapper .place-description {
	padding-right: 20px;
	padding-bottom: 20px;
}

.main .inventos-photo {
	width: 100%;
}

.main .place-description {
	flex: 1 1 auto;
}

.main .yandex-map {
	flex: 1.5 1 800px;
	// margin: auto;
	padding: 25px 0;
}

.main .yandex-map iframe {
	width: 560px;
	height: 100%;
	min-height: 350px;
	max-width: 100%;
}

.main .contacts {
	margin: auto;
	text-align: center;
}

.main .contacts .contact-form {
	display: none;
}

@media (max-width: 800px) {
	.main .common {
		flex-wrap: wrap;
	}
	.main .reasons .reasons-list {
		display: flex;
		flex-wrap: wrap;
	}

	.main .register-form {
		max-width: 100%;
	}

	.main .place-wrapper {
		max-width: 100%;
		flex-wrap: wrap;
	}
}
